body {
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

.basket {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 40px;
    background-color: #00f;
}

.fruit {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #f00;
}

.score {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #000;
}

.lives {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
}

.lives img {
    width: 20px;
    height: auto;
    margin-right: 5px;
    animation: heartChange 0.5s;
}

.lives img.lost-life {
    content: '';
    width: 20px;
    height: auto;
    background-image: url('lost_life.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
}

.game-over h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.game-over p {
    font-size: 24px;
}

@keyframes heartChange {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
