body {
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

.basket {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 40px;
    background-color: #00f;
}

.fruit {
    position: absolute;
    width: 40px;
    height: 40px;
}

.score {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #000;
}

.lives {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
}
.life {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.lives img {
    width: 20px;
    height: auto;
    margin-right: 5px;
    animation: heartChange 0.5s;
}

.lives img.lost-life {
    content: '';
    width: 20px;
    height: auto;
    background-image: url('lost-life.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
}

.game-over h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.game-over p {
    font-size: 24px;
}

.pause-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.pause-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.pause-modal h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.countdown {
    font-size: 36px;
    display: none;
}
